<!-- _includes/category.html -->

<!-- jPages -->
<script type="text/javascript">
$(function(){
  if (!$.fn || !$.fn.jPages) {
    console.log("jPages is not loaded on this page.");
    return;
  }

  $("div.pag-holder").jPages({
    containerID  : "pag-itemContainer",
    perPage      : 20,
    startPage    : 1,
    startRange   : 1,
    midRange     : 3,
    endRange     : 1
  });
});
</script>

{% assign category = page.url | remove:'/' | capitalize %}
{% if category == 'Html' or category == 'Itil' %}
  {% assign category = category | upcase %}
{% endif %}

{% assign posts_in_category = site.categories[category] %}
{% assign posts_count = posts_in_category | size %}
{% assign per_page = 20 %}

<div class="row">
  <div class="col-lg-12 text-center">
    <div class="navy-line"></div>
    <h1>{{ category }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="wrapper wrapper-content animated fadeInRight">

      {% if posts_in_category == nil or posts_in_category == empty %}
        <div class="vote-item">
          <div class="row">
            <div class="col-md-12">
              <div class="vote-info">
                <p>No posts found in this category yet.</p>
              </div>
            </div>
          </div>
        </div>
      {% else %}

        <div id="pag-itemContainer">
          {% for post in posts_in_category %}
            <div class="vote-item">
              <div class="row">
                <div class="col-md-10">
                  <div class="vote-actions"></div>

                  <a href="{{ post.url | prepend: site.baseurl }}" class="vote-title">
                    {{ post.title }}
                  </a>

                  <div class="vote-info">
                    <p>{{ post.description | strip_html }}</p>

                    {% if site.disqus %}
                      <i class="fa fa-comments-o"></i>
                      <a><span class="disqus-comment-count" data-disqus-url="{{ site.url }}{{ post.url }}">0</span></a>
                    {% endif %}

                    {% capture words %}
                      {{ post.content | number_of_words }}
                    {% endcapture %}
                    {% unless words contains "-" %}
                      <i class="fa fa-clock-o"></i> <a>{{ post.date | date: "%-d %b %Y" }}</a>
                      <i class="fa fa-user"></i> <a>{{ site.author.name }}</a>
                      <i class="fa fa-clock-o"></i> <a>Reading Time: {{ post.content | number_of_words | divided_by: 180 | append: " minute" }}</a>
                    {% endunless %}
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="vote-icon">
                    {% if post.icon %}<i class="fa {{ post.icon }}"></i>{% endif %}
                  </div>
                </div>

              </div>
            </div>
          {% endfor %}
        </div>

        {% include pagination.html counter=posts_count per_page=per_page %}

      {% endif %}

    </div>
  </div>
</div>
