<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
  <meta name="baseurl" content="{{ site.baseurl }}">
  <meta name="robots" content="index,follow" />
  <meta name="rating" content="{{ site.settings.rating }}">

  <link rel="shortcut icon" href="{{ '/static/assets/img/landing/profile-pic2.jpg' | relative_url }}">

  {% seo %}

  <link href="{{ '/static/assets/app-20190620.min.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/static/css/custom.css' | relative_url }}" rel="stylesheet">

  {% if layout.custom_css %}
    {% for css_name in layout.custom_css %}
      <link href="{{ '/static/css/' | append: css_name | relative_url }}" rel="stylesheet" media="screen">
    {% endfor %}
  {% endif %}

  {% if page.custom_css and page.title != 'Blog' %}
    {% for css_name in page.custom_css %}
      <link href="{{ '/static/css/' | append: css_name | relative_url }}" rel="stylesheet" media="screen">
    {% endfor %}
  {% endif %}

  <!-- Main Scripts (provide jQuery, typeahead, etc.) -->
  <script src="{{ '/static/assets/app-20190620.min.js' | relative_url }}"></script>
  <script src="{{ '/static/assets/blog-20190620.min.js' | relative_url }}"></script>

  <!-- Search overlay script (depends on jQuery) -->
  <script src="{{ '/static/js/search.js' | relative_url }}"></script>

  {% include cookieconsent.html %}
</head>
